.top-sec{
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.top-sec>button{
   width: 150px;
   height: 50px;
}

.img-box>img{
   width: 100%;
   height: 652px;
}
.img-box{
   position: relative;
}

.img-cntr{
   width: 998px;
   height: 581px;
   position: absolute;
   top: 20px;
   left: 420px;
   right: 221px;
   bottom: 50px;
}

.img-logo{
   position: relative;
   left: 40%;

}

#first-head{
   position: relative;
   left: 28%;
   top: 10px;
}

#second-head{
   position: relative;
   left: 45%;

}

#first-para{
   position: relative;
   left: 15%;
}
#second-para{
   position: relative;
   left: 22%;
   top: -10px;
}
 #third-para{
   position: relative;
   left: 29%;
   top: -17px;
 }

 .img-link{
   width: 244px;
   height: 65px;
   background-color: black;
   border-radius: 10px;
   position: relative;
   bottom: 0px;
   top: 30px;
   left: 40%;
 }
.img-link>a{
   text-decoration: none;
   color: white;
   
}

.outer-cntnr{
   width: 1140px;
   height: 1393px;
  /* border: 1px solid black;*/
   position:relative ;
   left: 20%;
   top:80px;
}

.body-cntnr{
   height: 1233px;
   width: 946px;
  /* border: 1px solid green;*/
   position: relative;
   left: 100px;
   top: 90px;
}
.body-cntnr>p>span{
   margin-left: 24%;
}

#body-head{
   margin-top:-5px;
   position: relative;
   left:33%;
}
.para{
   position: relative;
}

.first-section{
   width: 850px;
   height: 240px;
  /* border: 1px solid black;*/
   position: absolute;
   left: 145px;
   top:289px;
   bottom:864px;
   display: flex;
   justify-content: space-between;
}

.second-section{
   width: 850px;
   height: 240px;
  /* border: 1px solid black;*/
   position: absolute;
   left: 145px;
   top: 657px;
   bottom: 496px;
   display: flex;
   justify-content: space-between;
}

.third-section{
   width: 850px;
   height: 240px;
   /*border: 1px solid black;*/
   position: absolute;
   left: 145px;
   bottom: 130px;
   display: flex;
   justify-content: space-between;
}

.text-sec{
   width: 477px;
   height: 219px;
   margin-top: 5px;
   background-image: linear-gradient(to bottom right,rgba(255, 198, 198, 0.815),rgba(160, 252, 160, 0.192));
   border-radius: 10px;
  /* border: 1px solid red;*/
}
   .text-sec>a{
      text-decoration: none;
      text-align: center;
      
   }


   .text-sec>a>span{
      display: inline-block;
      margin-left: 20px;
      margin-bottom: 20px;
      font-size: large;
      width: 100px;
      height: 40px;
      border: 1px solid black;
      
   }

.pht-sec{
   width: 274.7px;
   height: 240px;
}

.vdo-sec{
   width: 1140px;
   height: 775px;
   border-radius: 15px;
  /* border: 1px solid black;*/
   position: relative;
   left: 20%;
   top: 200px;
}

.vdo-head{
   width: 852px;
   height: 113px;
   /*border: 1px solid red;*/
   position: relative;
   left: 14%;
   top: 10px;
}

.vdo-head>h1{
   margin-left: 36%;
   margin-top: -5px;
}

.vdo-head>p>span{
   margin-left:33% ;
}
.vdo{
   border-radius: 15px;
   /*border: 1px solid black;*/
   position: absolute;
   top: 195px;
   left: 3%;
}
.vdo>iframe{
   border-radius: 15px;
}

.mission{
   width: 1140px;
   height: 1437px;
   background-image: linear-gradient(to top right,rgba(207, 250, 207, 0.863),rgb(204, 204, 247));
   border-radius: 15px;
                                                       /*border: 1px solid black;*/
   position: relative;
   left: 20%;
   top: 10px;
}
.mission-head{
   width: 930px;
   height: 113px;
   /*border: 1px solid black;*/
   margin-top: 10px;
   margin-left: 8%;
}
.mission-head>h2{
   margin-top: 5px;
   margin-left: 36%;
}
.mission-head>p>span{
   margin-left: 36%;
}

.crnt-trgts{
   width: 1140px;
   height: 299px;
  /* border: 1px solid blue;*/
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
}

.crnt-item-1{
   width: 364px;
   height: 299px;
   border-radius: 15px;
   background-color: rgba(255, 159, 159, 0.466);
  /* border: 1px solid yellow;*/
}
.crnt-item-2{
   width: 364px;
   height: 299px;
   border-radius: 15px;
   background-color:rgba(181, 245, 181, 0.781);
}

.crnt-item-3{
   width: 364px;
   height: 299px;
   border-radius: 15px;
   background-color: rgba(247, 247, 155, 0.863);

}
.itm-cntr{
   width: 284px;
   height: 219px;
  
   border-radius: 5px;
  /* border: 1px solid red;*/
   margin: 10%;
}
.itm-cntr>img{
   margin-left: 10px;
   margin-top: 10px;
}

.itm-cntr>p{
   margin-top: -10px;
}

.support-pnl{
   width: 1140px;
   height: 350px;
   border-radius: 10px;
   position: relative;
   left: 20%;
   top: 30px;
}
 .support-pnl>img{
   border-radius: 10px;
 }

 .sprt-frm{
   width: 1044px;
   height: 160px;
   position: absolute;
   top: 60px;
   bottom: 40px;
   left: 48px;
   right: 48px;
 }
  .sprt-bx{
   width: 730px;
   height: 104px;
   margin-left: 18%;
   margin-top: 25px;
  }
  .sprt-bx>h2{
   margin-left: 33%;
   margin-top: -10px;
   color: white;
   font-size: xx-large;
  }
  .sprt-bx>p{
   color:white;
   margin-top: -20px;
  }

  .text-bx{
   width: 684px;
   height: 57px;
   position: absolute;
   top: 192px;
   left: 180px;
   bottom: 50px;
   display: flex;
   justify-content: space-between;
  }

  .sprt-bx>p>span{
   margin-left: 27%;
  }

  .text-bx>textarea{
   font-size: large;
  }
  .text-bx>button{

   width: 120px;
   height: 57px;
   margin-left: 16px;
   font-size: large;
   text-align: center;
   border-radius: 14px;
  }

  .foot-sec{

   height: 100px;
  display: flex;
  background-color: rgba(248, 8, 128, 0.178);
  align-items: center;
  justify-content: space-around;
 }

 .icons>a>span{
  margin-left: 15px;
 }